        @font-face {
            font-family: 'micon';
            src: url('xiaomi-iconfont.woff') format('woff');
            font-weight: normal;
            font-style: normal;
            font-display: block;
        }
        
        .micon {
            font-family: 'micon';
        }
        
        .micon-shopcar::before {
            content: '\e60c';
        }
        
        .micon-shopcar-pc::before {
            content: '\e60d';
        }
        
        .micon-smile::before {
            content: '\e60e';
        }
        
        .micon-good::before,
        .micon-agree::before {
            content: '\e60f';
        }
        
        .micon-message::before {
            content: '\e610';
        }
        
        .micon-depressed::before {
            content: '\e613';
        }
        
        .micon-heart::before {
            content: '\e614';
        }
        
        .micon-next::before,
        .micon-goright::before {
            content: '\e615';
        }
        
        .micon-search::before {
            content: '\e616';
        }
        
        .micon-question::before {
            content: '\e617';
        }
        
        .micon-isright::before,
        .micon-correct::before {
            content: '\e618';
        }
        
        .micon-laugh::before {
            content: '\e619';
        }
        
        .micon-star::before {
            content: '\e61d';
        }
        
        .micon-dull::before,
        .micon-nonsense::before {
            content: '\e61f';
        }
        
        .micon-left::before {
            content: '\e626';
        }
        
        .micon-right::before {
            content: '\e621';
        }
        
        .micon-refresh::before {
            content: '\e62a';
        }
        
        .micon-tool::before {
            content: '\e634';
        }
        
        .micon-7day::before {
            content: "\E635";
        }
        
        .micon-15day::before {
            content: '\E636';
        }
        
        .micon-gift::before {
            content: "\E638";
        }
        
        .micon-pos::before {
            content: "\E637";
        }
        
        .micon-arrow-left-big::before {
            content: '\e628';
        }
        
        .micon-arrow-right-big::before {
            content: '\e623';
        }