* {
    padding: 0;
    margin: 0;
}

p {
    margin: 50px auto;
    margin-bottom: 0;
    text-align: center;
}

section {
    width: 500px;
    height: 500px;
    border: 1px solid red;
    margin: auto;
    div {
        width: 100px;
        height: 100px;
        background-color: pink;
    }
}

@keyframes rotate1 {
    to {
        transform: rotate(360deg);
    }
}

.a:hover {
    animation: rotate1 5s 0s linear infinite;
    &>div {
        animation: rotate1 5s 0s linear infinite reverse;
    }
}

// div自己转
.b {
    position: relative;
    >div {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        transform: translateY(-200px);
    }
}

@keyframes rotate2 {
    from {
        transform: rotate(0deg) translateY(-200px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateY(-200px) rotate(-360deg);
    }
}

.b:hover {
    >div {
        animation: rotate2 5s 0s linear infinite;
    }
}

// 贝塞尔曲线
.c {
    position: relative;
    >div {
        position: absolute;
    }
}

@keyframes horiz {
    from {
        left: 0;
    }
    to {
        left: 100%;
    }
}

@keyframes vert {
    from {
        top: 0;
    }
    to {
        top: 100%;
    }
}

.c:hover {
    >div {
        animation: horiz 5s 0s cubic-bezier(.36, 0, .64, 1) infinite alternate, vert 5s -2.5s cubic-bezier(.36, 0, .64, 1) infinite alternate;
    }
}